.App {
  max-width: 1000px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.App header {
  margin-top: 100px;
}
.App h1 {
  text-align: center;
}
.App .logo {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
